<div class="form-header">
  <h2>Sign In</h2>
</div>

<div class="form">

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form| %>

    <p>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </p>

    <p>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </p>

    <% if devise_mapping.rememberable? -%>
      <p>
        <%= form.check_box :remember_me %>
        <%= form.label :remember_me %>
      </p>
    <% end -%>

    <div class="actions">
      <%= form.submit "Sign In", :class => "btn small blue" %>
    </div>

  <% end %>

</div>