
<div class="form-header">
  <h2>Got Questions?</h2>
</div>

<div class="form center">
  <%= form_tag make_contact_path do %>

    <%= hidden_field 'message[type]', value: 'general' %>

    <p>
      <%= label_tag 'message[from]', 'Your Email' %>
      <%= email_field_tag 'message[from]', params[:message].present? ? params[:message][:from] : '', required: true %>
    </p>

    <p>
      <%= label_tag 'message[subject]', 'Subject' %>
      <%= text_field_tag 'message[subject]' %>
    </p>

    <p>
      <%= label_tag 'message[body]', 'Body' %>
      <%= text_area_tag 'message[body]', '', rows: 8 %>
    </p>

    <div class="form-actions">
      <%= submit_tag 'Make Contact', class: "btn small blue" %>
    </div>

  <% end %>
</div>
