
<div class="form-header">
  <h2>Contact Us</h2>
</div>

<div class="form center">
  <%= form_tag make_contact_path do %>

    <p>
      <%= label_tag 'message[type]', "How can we help?" %>
      <%= select_tag 'message[type]', options_for_select([['General Questions', 'general'], ['Billing', 'billing'], ['Support', 'support']]) %>
    </p>

    <p>
      <%= label_tag 'message[from]', 'Your Email' %>
      <%= email_field_tag 'message[from]', params[:message].present? ? params[:message][:from] : '', required: true %>
    </p>

    <p>
      <%= label_tag 'message[subject]', 'Subject' %>
      <%= text_field_tag 'message[subject]' %>
    </p>

    <p>
      <%= label_tag 'message[body]', 'Body' %>
      <%= text_area_tag 'message[body]', '', rows: 8 %>
    </p>

    <div class="updates">
      <p> Would you like to receive occasional updates from TooFactor? (Seriously, three or four times a year.)</p>
      <br/>
      <p>
        <%= check_box 'subscribe', '' %>
                <%= label_tag 'subscribe', 'Sure, sign me up!' %>
      </p>
    </div>

    <div class="form-actions">
      <%= submit_tag 'Make Contact', class: "btn small blue" %>
    </div>

  <% end %>
</div>
