<header class="generic">
  <h1>Plans to fit any developer's budget.</h1>
  <h3>Never a contract. Cancel any time. Code samples for tons of platforms.</h3>
</header>

<div class="plans">
  <table>
    <tbody>
      <% for plan in @plans do %>
        <tr>
          <td width="75%">
            <dl>
              <dt><%= number_with_delimiter(plan.number_of_bundled_emails) %> Email Authentications / mo</dt>
              <dd>
                <%= number_to_currency(plan.overage_email_cost, precision: 3) %> / email over bundle<br>
                <%= number_to_currency(plan.sms_cost, precision: 3) %> / sms
              </dd>
            </dl>
          </td>
          <td class="price">
            <%= number_to_currency(plan.monthly_cost, precision: 0) %>/mo
          </td>
          <td class="action">
            <%= link_to 'Get Started', new_user_registration_path(plan_id: plan.id), class: 'btn blue' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3>Try it for 15 days <span class="red">free.</span> Start now.</h3>
  <h4>Add SMS for just 1.5 cents per message</h4>
</div>