<!DOCTYPE html>
<html>
  <head>
    <title>TooFactor | Simple two factor authentication for developers with deadlines</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <%= render 'shared/navigation' %>

    <div id="grid">
      <%= yield %>
    </div>

    <footer>
      Copyright &copy; <%=Time.now.year %> toofactor.com
      <span class="icon small"><%=link_to "T" , "http://www.twitter.com/toofactor" %></span>
      <span class="icon small"><%=link_to "G" , "http://www.facebook.com/pages/TooFactor" %></span>
    </footer>
  <%= render 'shared/analytics' %>
  </body>
</html>
